.RegistrationPage__block{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RegistrationPage__block__nameSite{
    height: 35px;
    margin-top: 88px;
    margin-bottom: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    background-image: linear-gradient(to right, #2A4365 50%, #63B3ED 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 666px) {
    .RegistrationPage__block__nameSite{
        margin-top: 40px;
        margin-bottom: 15px;
    }
}