.header__block {
    margin-right: 40px;
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;

}

.header__block__content{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end ;
    flex-wrap: wrap;
    align-items: center;
}

.header__block__content__link {
    margin-right: 82px;
    text-decoration: none;
    width: 62px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFCFE;
}

.header__block__content__button {
    background-color: inherit;
    width: 109px;
    height: 43px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    border: 2px solid #F7FAFC;
    border-radius: 5px;
    color: #FFFFFF;
}

@media (max-width: 666px) {
    .header__block {
        margin-right: 20px;

    }
    .header__block__content{
        width: 320px;
    }
    .header__block__content__link {
        margin-right: 15px;
    }
}